html{
    background-image: url('../resources/images/background.jpg');
    background-size: contain;
    background-repeat: repeat;
}

body{
    font: garamond, serif;    
    width: 960px;
    border-top: 3px solid #946e06;
    border-left: 3px solid #946e06;
    border-right: 3px solid #946e06;
    box-shadow: 0px 0px 15px 15px black;
    margin: auto; 
/*    background-color: #e4c580;*/
    background-color: #000714;
}

main h1, h2{
   color: #dedede;
    text-decoration: none;
    margin-right: 0;
    padding-left: .5em;
    padding-bottom: .5em;
    background-color: #000714;
}


main{
    padding-top: 10px;
    padding-bottom: 1em;
    background-color: #000714;
    margin-top: .02em;

}

legend{
    font-size: 200%;
}

/*SECTION*/
section{
    margin: auto;
    width: 700px;
    padding-bottom: 20px;
    
}

table {
    border: 1px solid #000714;
    border-collapse: collapse;
}
td, th {
    border: 3px solid #000714;
    padding: .2em .1em .2em .5em;
    text-align: left;
}

form {
    margin: .5em 0 .5em 0;
}
br {
    clear: left;
}
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}

.error {
    color: red;
}
.message {
    margin-left: .5em;
    width: 15em;
}
    
 label {
    width: 8em;
    margin-top: .2em;
    margin-right: .1em;
    margin-bottom: .5em;
    float: left;
}

 input[text] {
    width: 15em;
    padding-left: 1em;
}

#welcome{
    text-align: center;
}

main img{
    border: 5px solid #dedede;
    padding: .5em;
}